@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Zilla+Slab');

body{
	font-family: 'Zilla Slab',courier;
	text-align: center;
}

h1 {
color: #000000;
font-size: 65px;
font-weight: bold;
text-align: center;
}

li{
	display: inline;
	padding: 10px;
}

a{
	text-decoration: underline;
	color: #000;
}

header {
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
	padding: 20px;
	margin:10px;

}

section {
	text-align: justify;
	background-color: #FFE2B8;
	padding: 20px;
}

nav {
	background-color: #ffc2c2;
	padding: 10px;
	text-align: right;
}

footer {
	background-color: #ffc2c2;
	padding: 10px;
}

#slogan{
	color: #000000;
    font-family: courier;
    text-align: center;
    font-style: italic;
 }

 #two_column{
	background-color: #FFFFFF;
	padding: 20px
}

#left {
background-color: #FFFFFF;
padding: 20px;
float: left;
width: 60%;
}

#right {
padding: 20px;
float: right;
width: 30%;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

#Rings {
background-color: #FFFFFF;
float: left;
width: 25%;
height: auto;
}

#Earrings {
background-color: #FFFFFF;
float: left;
width: 25%;
height: auto;
}

#Bracelets {
background-color: #FFFFFF;
float: left;
width: 25%;
height: auto;
}

#Necklaces {
background-color: #FFFFFF;
float: left;
width: 25%;
height: auto;
}

#products {
margin: 20px;
text-align: center;
font-size: 20px;
background-color: #ffc2c2;
border: 0.5px solid #000000;
}