@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Zilla+Slab');

body{
	font-family: 'Zilla Slab',courier;
	text-align: center;
}

h1 {
color: white;
font-size: 65px;
font-weight: bold;
text-align: center;
}

li{
	display: inline;
}

a{
	text-decoration: underline;
	color: #000;
}

#slogan{
	color: white;
    font-family: courier;
    text-align: center;
    font-style: italic;
 }

#header{
	height: auto;
	width: auto;
	padding: 30px;
	background-color: #ffc2c2;
}


#aboutme{
	text-align: justify;
}